.body{
    padding: 0%;
    margin: 0%;
}
* {
  box-sizing: border-box;
}
.nav{
   
    width: 100%;
    background-color: rgba(146, 115, 108, 1);
    display: flex;
    align-items: center;
  justify-content: space-around;
    flex-wrap: wrap;
    
    
    padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

    
}

.search{
    display: flex;
    background-color: rgba(217, 217, 217, 1);
    align-items: center;
    padding: 12px;
    border-radius: 20px;
    width: 250px;
   

}

.search img{
    height: 25px;
    width: 30px;
}

.search input{
    background-color: rgba(217, 217, 217, 1);
    outline: none;
    border: none;
   

}
.search input::placeholder{
    color: rgba(146, 115, 108, 1);
    font-size: 14px;
}
.menu ul{
    display: flex;
    color:rgba(253, 241, 245, 1);
    gap: 2rem;
    flex-wrap: wrap;
}
.menu ul img{
    height: 30px;
    width: 30px;
}

.menu ul li {
 color:rgba(253, 241, 245, 1) ;
 text-decoration: none;
 cursor: pointer;
}



.mobile-view {
    display: none;
  }
  
  .mobile-view-Icon {
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }


@media (min-width: 580px) and (max-width: 1053px) {
    .nav{
        flex-direction: column;
    }
  }
 
  @media (max-width: 580px) {
    .logo,.search
     {
      display: none;
    }
  
    .menu {
      display: none;
      width: 100%;
      text-align: center;
    }
    
  
    .menu.active {
      display: block;
    }
  
    .mobile-view {
      display: block;
    }
    
    .menu ul {
      flex-direction: column;
      gap: 1rem;
      padding: 10px;
      color: ;
    }
  
    .menu ul li {
      font-size: 18px;
    }
    .search.active{
        display: block;
        padding: 6px;
        display: flex;
        align-items: center;
    }
  }

  