/* SinglePage.css */

body {
    
    margin: 0;
    padding: 0;
    background-color: rgba(253, 241, 245, 1);
    color: #333;
    font-family: 'Times New Roman', Times, serif;
    
  }
  
  .single-product {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    margin: 20px;
    padding: 20px;
    background-color:rgba(253, 241, 245, 1);
    box-shadow: 0 7px 9px rgba(220, 120, 140, 0.3);
    border-radius: 8px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
  }
  .sp-1{
    display: flex;


  }
  .img-sec {
    flex: 1;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  
  .img-sec img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .data-sec {
    flex: 2;
    padding: 0 20px;
  }
  
  .data-sec p {
    margin: 8px 0;
    line-height: 1.6;
  }
  
  .data-sec p:first-child {
    font-size: 24px;
    font-weight: bold;
    color: #444;
    margin-bottom: 12px;
  }
  
  .data-sec p:nth-child(2) {
    color: #666;
  }
  
  .data-sec p:nth-child(3) {
    font-size: 20px;
    color: #28a745;
    font-weight: bold;
  }
  
  .data-sec p:nth-child(4) {
    font-weight: bold;
  }
  
  .data-sec p:nth-child(5) {
    color: #ff5722;
  }
  
  .data-sec p:nth-child(6) {
    font-size: 14px;
    color: #762d2d;
  }
  .data-sec p:nth-child(7) {
    font-size: 14px;
    color: #777;
  }
  
  .data-sec p:nth-child(8) {
    color: #ffc107;
  }
  .review-sec {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    
    
  }
  .review-sec2 {
    margin-top: 18px;
    display: flex;
    align-items: center;
    gap: 2rem;
    
  }
  
  .reviews-sec h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .review-card {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .review-card p {
    margin: 5px 0;
  }
  
  .review-rating {
    color: #ffc107;
    font-weight: bold;
  }
  
  .review-date {
    font-size: 12px;
    color: #555;
  }
  
 .qt button{
  background-color:#f1f1f1;
  outline: none;
  border: 1px solid grey;
  font-weight: bolder;
 }
 .atc2 button{
  background-color: #f1f1f1;
  outline: none;
  border: 1px solid grey;
 }