/* Reset default styles */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%; /* Ensure full page height */
    overflow-x: hidden;
    
}

/* Ensure the app container does not center vertically */
#root, .App {
    margin: 0;
    padding: 0;
    display: block;
    height: 100%;
}

